<mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>
      <h3>Patient Details</h3>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="patient-details">
      <table>
        <tr>
          <th>Name:</th>
          <td>{{ patientListForBooking.patientName }}</td>
          <th>Blood Group:</th>
          <td>{{ patientListForBooking.bloodGroup }}</td>
        </tr>
        <tr>
          <th>Age:</th>
          <td>{{ patientListForBooking.age }}</td>
          <th>Gender:</th>
          <td>{{ patientListForBooking.gender }}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
</mat-card>


<br>
<br>
<!-- -------------------------------------------------------------------------------------------- -->
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-card>
  <mat-tab label="Diagnosis"> 
    <br>
    <br>
  
  <!-- Diagnosis Form -->
  <form (submit)="saveDiagnosis()">
    <mat-form-field>
      <mat-label>Diagnosis</mat-label>
      <textarea matInput name="diagnosis" [(ngModel)]="diagnosisForm.diagnosis" placeholder="Enter diagnosis"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>  

</mat-tab> 
</mat-card>
<mat-card>
<mat-tab label="Diagnosis History"> 
  <br>
<br>
  <div class="demo-button-container">
    <!-- <button mat-raised-button (click)="getDiagnosisHistory1()" class="demo-button">Diagnosis History</button> -->

    <div *ngIf="showDiagnoses">
      <div class="mat-elevation-z8 demo-table" style="max-height: 300px; overflow-y: auto;">
        <table>
          <thead>
            <tr style="text-align: center;">
              <th>Date</th>
              <th>Diagnosis</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let diagnosis of diagnosisList" style="text-align: center;">
              <td>{{ diagnosis.appointment.appointmentDateTime | date:'dd-MM-yyyy' }}</td>
              <td>{{ diagnosis.diagnosis }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



</mat-tab> 
</mat-card>
<mat-card>
<mat-tab label="Lab Report"> 
  <br>
<br>
  <div class="mat-elevation-z8 demo-table">

    <table>
      <thead>
        <tr style="text-align: center;">
          <ng-container matColumnDef="position">
            
            <th>Consultation Date</th>&nbsp;
            <th>Test Name</th>&nbsp;
            <th>Action</th>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let rep of reportList" style="text-align: center;">
          <ng-container matColumnDef="position">
           
            <td>{{rep.appointment.appointmentDateTime | date:'dd-MM-yyyy'}}</td>&nbsp;
            <td>{{rep.labTest.testName}}</td>&nbsp;
           <td>


<!-- ==================================================================================================== -->

  <div class="demo-button-container">
    <button mat-raised-button (click)="getReport(rep.testPrescriptionId)" class="demo-button">view Report</button>
    
  </div>

<!-- ==================================================================================================== -->






           </td>
          </ng-container>

        </tr>
      </tbody>
    </table>
  </div>



</mat-tab> 
</mat-card>
</mat-tab-group>

<div *ngIf="showReport">
  <br><br>
  <mat-card>
  <div class="mat-elevation-z8 demo-table" style="max-height: 300px; overflow-y: auto;">
    <table>
      <thead>
        <tr style="text-align: center;">
          <th>reportCreateDate</th>
          <th>Low Range</th>

          <th>High Range</th>
          <th>Actual Value</th>
          

        </tr>
      </thead>
      <tbody style="text-align: center;">
        <tr *ngFor="let prescription of testPrescriptionList" style="text-align: center;">
          <td>{{prescription.reportCreateDate}}</td>
          <td>{{ prescription.labTest.lowRange }}</td>
          <td>{{ prescription.labTest.highRange }}</td>
          <td>{{ prescription.actualValue }}</td>
          
        </tr>
        
      </tbody>
    </table>
  </div>
</mat-card>
</div>
<br>

<div style="display: flex; justify-content: space-between;">
  <div><!-- Add other content here --></div>
  <button mat-raised-button color="primary" type="submit" (click)="Next()">Next</button>
</div>


