// /* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  td , th{
   padding: 10px;
  }
  tr{
    border-bottom: 1px solid #888888;
  }

custom-card {
  margin: 0 auto;
  max-width: 400px;
  background-color: #d1a3a3;
}

mat-form-field {
  margin: 50px;
  width: 80%;
}
.example-card {
  width: auto;
  margin: 0 auto;
  background-color: #f2e4e4;
}

.patient-details {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}