// /* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  td , th{
   padding: 10px;
  }

  .custom-card {
    margin: 0 auto;
    max-width: 400px;
    background-color: #f0b19f;
  }
  
  
