
<mat-card style="width: 105%;">
    <form class="example-form">
        

   <div class="demo-button-container">
    <div class="example-button-row">
       
    </div>
</div>
<mat-grid-list class="mat-grid-tiles-align-start" cols="2" rowHeight="50px">

<!-- <br><br><br> -->

<mat-grid-tile colspan="2">
    <div style="width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;">
    Patient List
    </div>
  </mat-grid-tile>
  <br> <br>

  <div class="mat-elevation-z8 demo-table">
    
    <table >
        <thead >
            <tr >
                <ng-container matColumnDef="position" >
                <th >Patient Name</th> &nbsp;
                <th >Age</th> &nbsp;
                <th >Gender</th> &nbsp;
                <th >Doctor</th>&nbsp;
                <th >Test Name</th>&nbsp;
                <th >Test Prescription Date</th>&nbsp;
                <th >Action</th>
            </ng-container>
            </tr>
        </thead>

        <tbody>
            <tr >
                <ng-container matColumnDef="position" *ngFor="let item of patientlist">
                <td >{{item.appointment.patient.patientName}}</td>&nbsp;
                <td >{{item.appointment.patient.age}}</td>&nbsp;
                <td >{{item.appointment.patient.gender}}</td>&nbsp;
                <td >{{item.appointment.doctor.doctorName}}</td>&nbsp;
                <td >{{item.labTest.testName}}</td>&nbsp;
                <td>{{item.testPrescriptionDate}}</td>&nbsp;
                
                <td><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="navigateToAddResult(item.testPrescriptionId)" >
                        <mat-icon>add_to_photos</mat-icon>
                      <span  >Add Result </span>
                    </button>
                    
                  </mat-menu>
              </td>
            </ng-container>
                
            </tr>
        </tbody>
    </table>
  </div>

      </mat-grid-list>
      </form>
  </mat-card>
  

  