 <mat-form-field appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()">
      </mat-form-field>


<mat-card>
  <form class="example-form">
    <mat-grid-list class="mat-grid-tiles-align-start" cols="2" rowHeight="50px">

      <br><br><br><br>

      <mat-grid-tile colspan="2">
        <div style="width: 100%; text-align: center; font-size: 24px; font-weight: bold;">
          <br>
          Today's Appointment
        </div>
      </mat-grid-tile>

     

      <div class="mat-elevation-z8 demo-table">
        <table>
          <thead>
            <tr style="text-align: center;">
              <th>Patient Name</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Token No</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of filteredList" style="text-align: center;">
              <td>{{item.patient.patientName}}</td>
              <td>{{item.patient.gender}}</td>
              <td>{{item.patient.age}}</td>
              <td>{{item.opToken}}</td>
              <td>
                <button mat-button color="primary" (click)="goToDiagnosisPage(item)">
                  Diagnosis
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </mat-grid-list>
  </form>
</mat-card>
