<mat-card style="margin-left: 400px; margin-top: 50px;">
    <mat-card-content >
    <section>
        <div class="example-button-row">
            <button mat-raised-button (click)="navigateToTestList()"color="warn"><mat-icon> list_alt</mat-icon>TEST</button>
        </div>
    </section>
</mat-card-content>
</mat-card>

<mat-card style="margin-left: 400px; margin-top: 75px;">
    <mat-card-content >
    <section>
        <div class="example-button-row">
            <button mat-raised-button (click)="navigateToPatientList()"color="warn"><mat-icon>perm_contact_calendar</mat-icon>PATIENT</button>
        </div>
    </section>
</mat-card-content>
</mat-card>

<mat-card style="margin-left: 400px; margin-top: 75px;">
    <mat-card-content >
    <section>
        <div class="example-button-row">
            <button mat-raised-button (click)="navigateToTestResultList()"color="warn"><mat-icon>assignment</mat-icon>REPORT</button>
        </div>
    </section>
</mat-card-content>
</mat-card>