<mat-card>
    <form class="example-form">
      <mat-grid-list class="mat-grid-tiles-align-start" cols="2" rowHeight="50px">
  
        <mat-grid-tile colspan="2">
          <div style="width: 100%;
          text-align: center;
          font-size: 24px;
          font-weight: bold;">
            Add Company
          </div>
        </mat-grid-tile>
  
        <mat-grid-tile colspan="1">
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input matInput name="companyName" [(ngModel)]="companyForm.companyName">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
            <mat-form-field>
              <mat-label>Company Address</mat-label>
              <input matInput name="companyAddress" [(ngModel)]="companyForm.companyAddress">
            </mat-form-field>
          </mat-grid-tile>
  
        <mat-grid-tile colspan="1">
          <mat-form-field>
            <mat-label>Emergency Contact Number</mat-label>
            <input matInput  name="contactNo" [(ngModel)]="companyForm.contactNo">
          </mat-form-field>
        </mat-grid-tile>
  
        
  
        <mat-grid-tile colspan="2" rowspan="2">
          <div style="width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 30px;">
            <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
            <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="submitCompany()">Submit</button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
     
    </form>

  </mat-card>
  
  <br>
  
  <a routerLink="/dashboard/pharmacist/list-company">List Company</a>
  