<!-- <div>
    <a href="dashboard/pharmacist/stock">stock-management</a>
</div>
<div>
    <a href="dashboard/pharmacist/add-stock">add stock</a>
</div>

<div style="min-height: 100px; background-color: red;">
    <router-outlet></router-outlet>
</div> -->

<mat-grid-list class="mat-grid-tiles-align-start" cols="4" rowHeight="100%">
    <mat-grid-tile class="secondary-color-background" colspan="1">
  
      <mat-list style="width: 100%; padding: 10px;">
        <mat-divider></mat-divider>
        <mat-list-item  style="cursor: pointer;"><mat-icon>account_box</mat-icon> <a href="/dashboard/pharmacist/stock">stock-management</a></mat-list-item>
          <mat-divider></mat-divider>
        <mat-list-item  style="cursor: pointer;">
            <mat-icon>account_box</mat-icon>
            <a href="/dashboard/pharmacist/add-stock">add stock</a></mat-list-item>
        <mat-divider></mat-divider>
        </mat-list>
    </mat-grid-tile>
  
    <mat-grid-tile colspan="3" rowspan="1">
      <div style="width: 100%; padding: 10px;">
        <router-outlet></router-outlet>
      </div>
    </mat-grid-tile>
  </mat-grid-list>