<mat-grid-list cols="3" >

  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="width: 250px; text-align: center;">
          Login Here </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="example-container">
          <mat-form-field style="width: 250px;">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field style="width: 250px;">
            <mat-label>Enter your password</mat-label>
            <input [formControl]="password" required matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>
      <mat-card-actions style="display: grid;">
        <button mat-raised-button (click)="loginFunction()">Login</button>

      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile> </mat-grid-tile>

  <!-- <mat-grid-tile><a href="authenticate/forgot-password">forgot password</a>
    </mat-grid-tile>
    <mat-grid-tile><a href="authenticate/change-password">change password</a></mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>  -->

</mat-grid-list>