
    <mat-toolbar>
       <div>
            <img src="/assets/hos_final_logo.jpg" style="height: 50px;" alt="image"/>
        </div>
       
        <span style="margin-left: 10px ;">THE ROYAL MELBOURE HOSPITAL</span>
        <span class="example-spacer"></span>
        <div  class="example-icon" aria-label="Example icon-button with share icon">
            <!-- <img src="/assets/hos_final_logo.jpg" style="height: 38px;
            margin-right: 5px;
            border-radius: 50%;"  alt="image"/> -->
            <img style="height: 38px;
            margin-right: 5px;
            border-radius: 50%;"
                    [src]="'http://localhost:9091/login/userimage?userId='+userId"
                    alt="">
        </div>
        <div  class="example-icon" aria-label="Example icon-button with share icon">
            <span>{{staffName}}</span>
        </div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon (click)="loginOut()" style="cursor: pointer;">exit_to_app</mat-icon>
        </button>
        
      </mat-toolbar>


    <div style="background-color:#fff; height: 85%;">
        <router-outlet></router-outlet>
    </div> 


    <mat-card style="height: 40px; width: 100%; position: fixed; bottom: 1px;">
        <mat-card-content>footer</mat-card-content>
      </mat-card>


  